numpy==1.26.3
scipy==1.15.3
pandas==2.2.3
matplotlib==3.8.2
opencv-python==4.11.0.86
scikit-image==0.25.2
scikit-learn==1.6.1
torch==2.1.0
transformers==4.51.3
peft==0.15.2
accelerate==1.6.0
deepspeed==0.16.7
bitsandbytes==0.45.5
tokenizers==0.21.1
optuna==4.4.0
langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.66
langchain-huggingface==0.2.0
langchain-openai==0.3.17
langchain-text-splitters==0.3.8
faiss-gpu==1.7.2
sentence-transformers==4.1.0
tqdm==4.67.1
openai==1.79.0
pydantic==2.11.4
requests==2.32.3